<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediant.api.dataexchange.trigger.dao.TiggerFileMapper">
  <!-- Placeholder MyBatis mapper for Trigger file archive operations -->
  <insert id="insertTriggerArchive" parameterType="map">
    INSERT INTO dbo.TriggerArchive (ClientID, TriggerDate, FilePath, FileName, Content)
    VALUES (#{clientId}, #{triggerDate}, #{filePath}, #{fileName}, #{content})
  </insert>
</mapper>
